@import "tailwindcss";


@theme{
    --breakpoint-lg-real : 1400px;
    --breakpoint-ipad_pro : 1020px;
    --breakpoint-lg_md : 950px;
    --breakpoint-mini_tab : 700px;
}

@theme{
    --color-A-off-color: #004d1a;
    --color-A-off-text : #E0F7E9;

    --color-A-color : #E0F7E9;
    --color-A-text : #004d1a;


    --color-B-color : #97d8a3;
}

:root{
    --primary-color : #fafbfc;
}
